#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: #faf5e1;
    font-family: Tahoma;
    margin: 0;
    padding: 0;
}

/* Nav don't touch */
    header {
        background-color: #24272B;
        padding: 1em 0;
        display: grid;
        grid-template-columns: 150px auto;
    }

    nav {
        display: flex;
        justify-content: space-around;
        font-family: Tahoma;
    }
    
    nav a {
        font-size: 25px;
        color: #faf5e1;
        text-decoration: none;
        text-align: center;
        font-weight: bold;
        border-radius: 15px;
        padding: 35px;
    }
    
    nav a:hover {
        background-color: #faf5e1;
        color: #444139;
        font-weight: bold;
    }

    .logo {
        max-width: 100px;
        max-height: 100px;
        border-radius: 50px;
        margin-left: 50px;
    }

    #logo_link {
        padding-top: 5px;
        justify-self: center;
        align-self: center;
    }
/* Nav don't touch */

main {
    font-family: 'Courier New';
    font-weight: bold;
}

#Cooking_Guides {
    margin-top: 50px;
}

#header1 {
    font-size: 27px;
    text-align: center;
    font-weight: 100%;
    margin-bottom: 20px;
}

#paragraph1 p {
    text-align: justify;
    font-size: 16px;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}

.intro{
    margin: 0 auto;
    padding: 20px;
    border-radius: 50px;
    width: 900px;
    border: 10px solid #24272B;
    background-color: #b1d2fa;
}

.Cooking_Guides img {
    max-width: 365px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: -590px;
    margin-right: 250px;
    float: right;
    border-radius: 25px;
    border: 10px solid #24272B;
}

#knife-guide {
    margin-left: 250px;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 500px;
    background-color: #24272B;
    padding: 50px;
    border-radius: 50px;
    color:#ccc;
}

.knife-steps {
    justify-content: space-between;
    max-width: 800px;
}

.inst {
    max-width: 400px;
    margin-bottom: 20px;
    background-color:#444139;
    border-radius: 25px;
    padding: 15px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto; 
    justify-content: space-between;
    max-width: 1000px;
    background-color:#24272B;
    padding: 50px;
    border-radius: 50px;
}

.utensil {
    margin-bottom: 20px;
    text-align: center;
    max-width: 300px;
    background-color: #faf5e1;
    border-radius: 30px;
}

.utensil-p {
    font-size: 30px;
    margin-top: 125px;
}

.utensil img {
    width: 300px;
    max-width: 300px;
    max-height: 200px;
    border-radius: 15px;
}

.cooking-terminology {
    max-width: 800px;
    margin-left: 310px;
    margin-top: 20px;
    border: 20px solid #24272B;
    border-radius: 50px;
    margin-bottom: 20px;
    background-color: #24272B;
    color: #ccc;
    padding: 20px;
}

.cooking-terminology .bubble {
    background-color: #f9c73d;
    width:790px;
    text-align: center;
    line-height: 2em;
    font-size: 30px;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    margin-right: 20px;
}

.cooking-terminology ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 0;
    list-style-type: none;
}

.cooking-terminology li {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}

.cleaning-techniques {
    max-width: 800px;
}

.cleaning-techniques h1 {
    margin-left: 41.5%;
    width: 800px;
    text-align: center;
    border: 20px solid #24272B;
    border-radius: 50px;
}

.cleaning-techniques ol {
    margin-left: 300px;
    margin-bottom: -100px;
    background-color: #24272B;
    color: #ccc;
    display: grid;
    width: 800px;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
    padding: 50px;
    border-radius: 50px;
}

/* Footer don't touch */
footer {
    background-color: #24272B;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  footer a, footer p{
    color:	#faf5e1;
    font-family: 'Courier New';
    font-weight: bold;
    text-decoration: none;
    font-size: 1.0em;
  }
  
  footer a:hover {
    color:#1683ff;
  }
  
  footer p a:hover{
    text-decoration: underline;
  }
  
  footer .social img {
    width: 40px;
    height: 40px;
    margin: 10px;
    padding-top: 15px;
  }